/*
COLORS
*/
$color-black: #000;
$color-black-dark: #454545;
$color-white: #fff;
$color-primary: #5fbc65;
$color-blue-dark: #0a4978;

/*
FONT SIZE
*/
$default-font-size: 1.6rem;

/*
GRID
*/
$grid-width: 114rem;
$gutter-vertical: 15rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 7rem;
$gutter-horizontal-small: 2rem;
