.header{
    &__navbar {
        height: 12vh;
        background-color: $color-black-dark;
        position: relative;
        &-logo {
            width: 10%;
            position: absolute;
            top: 50%;
            left: 12%;
            transform: translate(-50%, -50%);
        }
        &-box {
            position: absolute;
            top: 50%;
            right: -20%;
            transform: translate(-50%, -50%);
            &--show {
                display: block;
                @include respond(tab-port) { //width < 1000
                    display: none;
                } 
            }
        }
        
        @include respond(tab-port) {
            height: 10vh;
        }
    }
    &__list {
        list-style: none;
    }
    &__item {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 8rem;
        }
    }
    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            color: $color-white;
            font-size: $default-font-size;
            font-weight: 600;
        } 
    }

    &__content {
        background-image: url(../../img/hero.jpg);
        height: 100vh;
        @include respond(tab-port) { // width < 1000?
            height: 45vh;
        }
        @include respond(phone) { // width < 600?
            height: 25vh;
        }
        background-size: cover;
        background-position: top;
        position: relative;
        &-box{
            position: absolute;
            top: 50%;
            left: 30%;
            transform: translate(-50%, -50%);
        }
    }
}       