.header{
    &__navbar {
        height: 10vh;
        background-color: $color-black-dark;
        position: relative;
        &-logo {
            width: 9%;
            @include respond(tab-port) {
                width: 15% !important;
            }
            @include respond(phone) {
                width: 25% !important;
                left: 20% !important;
            }
            position: absolute;
            top: 50%;
            left: 12%;
            transform: translate(-50%, -50%);
        }
        &-box {
            position: absolute;
            top: 50%;
            right: -20%;
            transform: translate(-50%, -50%);
            &--show {
                display: block;
                @include respond(tab-port) { //width < 1000
                    display: none;
                } 
            }
        }
        
        @include respond(tab-port) {
            height: 10vh;
        }
    }
    &__list {
        list-style: none;
    }
    &__item {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 8rem;
        }
    }
    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            color: $color-white;
            font-size: 1.3rem;
            font-weight: bold;
        } 
    }

    &__content {
        background-image: url(../../img/hero.jpg);
        height: 100vh;
        @include respond(tab-port) { // width < 1000?
            height: 45vh;
        }
        @include respond(phone) { // width < 600?
            height: 35vh;
        }
        background-size: cover;
        background-position: top;
        position: relative;
        &-box{
            position: absolute;
            top: 50%;
            left: 30%;
            @include respond(phone) {
                left: 50% !important;
            }
            transform: translate(-50%, -50%);
        }
    }

    &__scrolling {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        transition: all 0.15s ease-in-out;
        z-index: 99;
        box-shadow: 0 1rem 1rem rgba($color: #ececec, $alpha: .15);
    }
}       