.scroll-top {
    position: fixed;
    right: -145px;
    bottom: 140px;

    @include respond(tab-land) { // width < 1200?
        right: -130px;
        bottom: 140px;
    }

    @include respond(tab-port) { // width < 1000?
        right: -115px;
        bottom: 125px;
    }

    @include respond(phone) { // width < 600?
        right: -85px;
        bottom: 95px;
    }
    transform: rotateZ(-90deg);
    transition: all .2s ease-in-out;
    &__link {
        background: $color-primary;
        color: $color-white;
        font-size: 2rem;
        text-transform: uppercase;
        border-radius: 0 5rem 5rem 0;
        padding: 1.5rem 5rem 1.5rem 3rem;
        text-decoration: none;
        transition: all .2s ease-in-out;
        letter-spacing: 1rem;
        &:hover {
            color: $color-white;
            background: $color-blue-dark;
            border: $color-blue-dark;
        }
    }
    &--hide {
        visibility: hidden;
    }
}