.section-about {
    background-color: $color-white;
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid black;
    padding: 12rem 10rem;
    @include respond(tab-port) { // width < 1000?
        text-align: center !important;
        padding: 10rem 15rem;
    }
    @include respond(phone) { // width < 600?
        text-align: center !important;
        padding: 8rem 8rem !important;
    }
}

.section-feature {
    background-color: $color-white;
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid black;
    padding: 12rem 10rem;
    &__textbox {
        padding: 5rem 15rem;
        @include respond(tab-port) { // width < 1000?
            padding: 5rem 10rem !important;
        }
        @include respond(phone) { // width < 600
            padding: 5rem 0rem !important;
        }
    }
    &__btnbox {
        text-align: center;
    }
}

.section-story {
    width: 90%;
    margin: 0 auto;
    padding: 12rem 10rem;
    @include respond(phone) { // width < 600
        padding: 12rem 5rem !important;
    }
    &__box {
        background-color: $color-black-dark;
        border-radius: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 4.5rem 6rem; 
    }
}